# Drupal application API connection details.
# -----------------------------------------
# Base url of the drupal site.
NEXT_PUBLIC_DRUPAL_BASE_URL=https://dev.next-drupal.org

# Required for On-demand Revalidation.
#DRUPAL_REVALIDATE_SECRET=DRUPAL_REVALIDATE_SECRET

# Draft mode secret.
#DRUPAL_PREVIEW_SECRET=DRUPAL_PREVIEW_SECRET

# Drupal Authentication
# BASIC_AUTH is used for public viewing of the site.
# BASIC_AUTH_ADMIN is used for content preview. It will allow viewing of unpublished pages and components.
#DRUPAL_BASIC_AUTH=foo:bar
#DRUPAL_BASIC_AUTH_ADMIN=foo:bar

# Bypass WAF limitations. JSON string of additional request headers.
#DRUPAL_REQUEST_HEADER={"X-Decoupled-Drupal": "foo-bar"}


# Build variables.
# ----------------
# Google Tag Manager code.
#NEXT_PUBLIC_GTM=NEXT_PUBLIC_GTM

# During `yarn build` process, indicate how many pages should be build.
# To build everything, set the value to -1. To build nothing, set the value to 0.
# It's recommended to stay under 500 pages.
BUILD_PAGES=0

# Set this environment variable on the production environment only at launch. This will be used for the
# /sitemap.xml and allow search indexing on the site.
#NEXT_PUBLIC_DOMAIN=http://localhost:3000


# SAML configuration for any protected pages.
# ------------------------------------------
#SAML_ENTRY_POINT=https://login[-uat].stanford.edu/idp/profile/SAML2/Redirect/SSO
#SAML_ISSUER=saml-entity-id

# For certificate files, base64 encode the file into a single string using `cat file.crt | base64 -w 0`
#SAML_IDP_CERT=cert-string
#SAML_SP_PRIVATE_KEY=key-string
#SAML_SIGNING_CERT=signing-cert-string

# JWT Secret for authentication
#JWT_SECRET=your-super-secure-jwt-secret-key-change-this-in-production-12345
