/* @import "./centered-container.css";
@import "./typography/global-message.css";
@import "./typography/local-footer.css";
@import "./typography/wysiwyg.css"; */
@import "decanter/static/css/decanter.css";

@theme {
  --font-sans: var(--font-source-sans);
  --font-serif: var(--font-source-serif);
  --font-stanford: var(--font-stanford);
}

/* Custom utilities */
@layer utilities {
  /* Scale utilities */
  .scale-\[-100\] {
    transform: scale(-1);
  }

  /* Two column grids */
  .grid-cols-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
  .grid-cols-1-2 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
  .grid-cols-1-3 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  }
  .grid-cols-1-4 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
  }
  .grid-cols-2-1 {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
  .grid-cols-3-1 {
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
  }
  .grid-cols-4-1 {
    grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
  }

  /* Three column grids */
  .grid-cols-1-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  .grid-cols-1-1-2 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  }
  .grid-cols-1-1-3 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
  }
  .grid-cols-1-1-4 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 4fr);
  }
  .grid-cols-1-2-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  }
  .grid-cols-1-3-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  }
  .grid-cols-1-4-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
  }
  .grid-cols-2-1-1 {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  .grid-cols-3-1-1 {
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  .grid-cols-4-1-1 {
    grid-template-columns: minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  /* List style types */
  .list-lower-alpha {
    list-style-type: lower-alpha;
  }
  .list-upper-alpha {
    list-style-type: upper-alpha;
  }
  .list-lower-roman {
    list-style-type: lower-roman;
  }
  .list-upper-roman {
    list-style-type: upper-roman;
  }
  /* Data attribute utilities */
  .data-\[intrail\=true\]\:block[data-intrail="true"] {
    display: block;
  }
  .data-\[intrail\=true\]\:hidden[data-intrail="true"] {
    display: none;
  }

  /* Aria attribute utilities */
  .aria-\[current\=true\]\:font-bold[aria-current="true"] {
    font-weight: bold;
  }
  .aria-\[current\=page\]\:font-bold[aria-current="page"] {
    font-weight: bold;
  }
}

/* Styles for react-tiny-oembed containers */
.aspect-\[16\/9\] .__embed_column {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}

.aspect-\[16\/9\] .__embed_column iframe {
  width: 100%;
  height: 100%;
}
